<p id="notice"><%= notice %></p>
<h4>Conversation with <%= @conversation.user.email %></h4>
<h5> About <%= link_to @conversation.flat.title, flat_path(@conversation.flat) %></h5>
<div class="container-fluid">
  <% Message.includes(:user).where("messages.conversation_id" => @conversation).each do |message| %>
      <div class="message <%= (message.conversation.user.email == @conversation.user.email)? "left-chart" :"right-chart"%>">
      <div class="text">
        <div class="author"><%= (message.conversation.user.email == @conversation.user.email)? "You" : message.conversation.user.email  %></div>
          <%= message.text %>
      </div>
      <div class="time"><%= message.created_at %></div>
      </div>
  <% end %>
</div>
<%= link_to 'Back', conversations_path, class: "btn btn-default btn-circle btn-outline" %>
<%= link_to 'Reply', new_message_path(:conversation_id => @conversation.id), class: "btn btn-default btn-circle btn-outline" %>
