<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :rooms %>
    <%= f.trix_editor :description %>
  </div>

  <div class="form-actions">
    <div class="ctr col-md-5 pt-4">
        <%= link_to 'Back', flats_path, class: "btn btn-default btn-circle btn-outline" %>
        <div class="pull-right">
          <%= f.button :submit %>
        </div>
    </div>
  </div>
<% end %>
