<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :rooms %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <div class="col-md-6">
      <%= link_to 'Back', flats_path, class: "btn btn-default btn-circle btn-outline" %>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <%= f.button :submit %>
      </div>
    </div>
  </div>
<% end %>
