

<p id="notice"><%= notice %></p>
<div class="row ctr">
  <%= link_to 'Edit', edit_flat_path(@flat), class: "btn btn-default btn-circle btn-outline" %>
  <%= link_to 'Back', flats_path, class: "btn btn-default btn-circle btn-outline" %>
</div>
<h1 class="text-center"><%= @flat.title %></h1>
<h4 class="text-center ctr">Informations</h4>
<table class="table">
  <tbody>
      <tr>
        <td>Size</td>
        <td><%= @flat.size %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= @flat.price %></td>
      </tr>
      <tr>
        <td>Rooms</td>
        <td><%= @flat.rooms %></td>
      </tr>
  </tbody>
</table>
<h4 class="text-center">Description</h4>
<div class="description text-center">
<%= raw @flat.description %>
</div>


