<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @flat.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @flat.rooms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
