<!DOCTYPE html>
<html>
<head>
  <title>Flats catalog</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Flats catalog", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <% # noinspection RubyResolve
         if user_signed_in? %>
      <li><%= link_to 'Available flats', flats_path %></li>
      <li><%= link_to 'Add new flat', new_flat_path %></li>
          <% end %>
    </ul>
      <ul class="nav navbar-nav navbar-right">

        <% # noinspection RubyResolve
           if user_signed_in? %>
            <li><%= link_to "Messages", conversations_path %></li>
            <li><%= # noinspection RubyResolve
                    link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= # noinspection RubyResolve
                    link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= # noinspection RubyResolve
                    link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    <div class="wrapper container page">
      <%= yield %>
      <div class="push"></div>
    </div>
<footer class="footer">
  <p class="footer-text text-center">Copyright &copy; Damian Żołądek 2017</p>
</footer>
</body>
</html>
